/*WARIABLES AND BOX MODEL*/

:root {
    --light-bg-color: #ECECEC;
    --main-font-color: #313131;
    --main-font-family: "Roboto Flex", Arial, sans-serif;
    --main-a-color: #000000;
    --main-hover-color: #ECECEC;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*BASIC VIEW*/

body {
    background-color: var(--light-bg-color);
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    font-size: 1.2rem;
}

.container {
    width: 75%;
    margin: 2rem auto;
}

main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--main-font-color);
}

#top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--main-font-color);
}

#title {
    width: 70%;
}

#subtitle {
    font-size: 2rem;
}

nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: bold;
}

footer {
    margin: 2rem auto;
    width: 50%;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 3px;
}

#right {
    width: 70%;   
}

#left {
    width: 30%;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--main-a-color);
}

a:hover {
    color: var(--main-hover-color);
    background: var(--main-font-color);
}

nav a {
    padding: 3px 6px;
    text-align: left;
}

footer a:hover {
    color: var(--main-a-color);
    background: none;
    text-decoration: underline;
}

nav, p, li {
    line-height: 2rem;
}

li {
    list-style-type: none;
}


/*MEDIA QUERIES*/
